.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* App.css */
.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: darkgray; /* Background color of the entire page */
  background-image: url('./resources/img/logo.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner-border {
  color: darkorange; /* Color of the spinner */
}

.custom-spinner {
  width: 80px; /* Adjust the size as needed */
  height: 80px; /* Adjust the size as needed */
  font-size: 2rem; /* Adjust the font size as needed */
  color: rgb(239, 125, 3);
  /* background-image: linear-gradient(0deg,darkorange,rgb(58, 58, 58),white); */
}