/* <style> */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
/* </style> */


.text1{
  display: flex;
  padding-left: 10%;
  justify-content: left;
  padding-top: 8%;
  color: rgb(255, 255, 255);
  font-size: 50px;
  font-weight: 850;
  font-family: 'Open Sans';
}
.text3{
  color: rgb(255, 255, 255);
}
.text4{
  color: rgb(255, 132, 0);
}
.text2{
  display: flex;
  padding-left: 10%;
  justify-content: left;
  padding-top: 2%;
  font-size: 35px;
  font-weight: 800;
  font-family: 'Open Sans';
  /* overflow: auto; */
}
.text3-text4{
  display: flex;
}

.text5{
  display: flex;
  padding-left: 10%;
  justify-content: left;
  color: rgb(255, 255, 255);
  padding-top: 2%;
  font-size: 25px;
  font-weight: 600;
  font-family: 'Open Sans';
}

.text6{
  display: flex;
  /* width: 50%; */
  padding-left: 10%;
  justify-content: left;
  text-align: justify;
  color: rgb(255, 255, 255);
  padding-top: 2%;
  font-size: 18px;
  font-weight: bold;
  font-family: 'Open Sans';
  padding-right: 10%;
}

.home-text{
  filter: brightness(100%);
}

.icons{
  display: flex;
  justify-content: right;
  align-items: center;
  margin-top: 4%;
  padding-right: 1.5pc;
}

.facebook-icon{
  background-image: url("/src/img/facebook.png");
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: 2pc;
  height: 2pc;
  width: 2pc;
}

.whatsapp-icon{
  background-image: url("/src/img/whatsapp.png");
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: 2pc;
  height: 2pc;
  width: 2pc;
}

.linkedin-icon{
  background-image: url("/src/img/linkedin.png");
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: 2pc;
  height: 2pc;
  width: 2pc;
}

.gmail-icon{
  background-image: url("/src/img/gmail.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin-right: 2pc;
  height: 2pc;
  width: 2pc;
}
